<%= provide(:title, 'Log In or Sign Up') %>
<div class="container-fluid">
  <%= render 'navbar' %>
  
  <div class="row">
    <div class="col-md-7 text-center">
      <h1><strong>Connect with friends and the<br>world around you on Sharebit.</strong></h1>
      <p class="lead">Sharebit is social networking app written using<br> React and Ruby on Rails.You can checkout how it was developed<br> and also the source code on <a href="https://github.com/edwincarbajal/socialnetwork">Github</a>.</p>
      <p>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Star it</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Fork it</button>
      </p>
    </div>

    <div class="col-md-5">
      <h1><strong>Sign Up</strong></h1>
      <p class="small">It's free and always will be.</p>
      <%= render 'sign_up_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'footer' %>
    </div>
  </div>
</div>
